@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
  	
	body{
    	margin:0;
    	padding:0;
 	}

	.slider-parallax{
		width:100%;
		height:100vh;
		background-color:#000;
		overflow:hidden;
	}

	.titre-parallax{
		font-family: 'Open Sans', sans-serif;
		font-weight:700;
		text-align:center;
		color:#fff;
		font-size:120px;
		line-height:120px;
	}

	.chapeau-parallax{
		font-family: 'Open Sans', sans-serif;
		font-weight:400;
		text-align:center;
		color:#fff;
		font-size:22px;
		line-height:26px;
		margin-top:20px;
	}

	.bouton-parallax{
		font-family: 'Open Sans', sans-serif;
		font-weight:700;
		text-align:center;
		text-transform:uppercase;
		color:#fff;
		font-size:14px;
		line-height:18px;
		background-color:#d44d2e;
		margin-top:20px;
		display:inline-block;
		padding-top:10px;
		padding-bottom:10px;
		padding-left:25px;
		padding-right:25px;
		margin-left:auto;
		margin-right:auto;
	}

	a.bouton-parallax{
		text-decoration:none;	
	}

	a.bouton-parallax:hover{
		background-color:#fff;
		color:#d44d2e;
	}
